<div class="content" role="main">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 px-4 py-2">
        <div class="col">
          <div class="card shadow-sm">

            <div class="card-body">
              <h5 class="card-title"><em class="bi bi-house"></em> {{resourcebundle.messages.dev_env}}</h5>
              <hr />
              <div class="card-text">
                <p>
                  {{resourcebundle.messages.env_info}}
                </p>
                <ul class="card-list">
                  <li class="card-list-item"><a href="/repositories">{{resourcebundle.messages.repo_list}}</a></li>
                </ul>
                <ul class="card-list">
                  <li class="card-list-item"><a href="{{ gitlabUrl }}">{{resourcebundle.labels.gitlab}}</a></li>
                  <li class="card-list-item"><a href="{{ nexusUrl}}">{{resourcebundle.labels.nexus}}</a></li>
                  <li class="card-list-item"><a href="{{ sonarUrl }}">{{resourcebundle.labels.sonarqube}}</a></li>
                  <li class="card-list-item"><a href="{{ jenkinsUrl }}">{{resourcebundle.labels.jenkins}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><em class="bi bi-code-slash"></em> {{resourcebundle.messages.java_projects}}</h5>
              <hr />
              <div class="card-text">
                <p>
                  {{resourcebundle.messages.view_java_projects}}
                </p>
                <ul class="card-list">
                  <li class="card-list-item"><a href="/projects-info">{{resourcebundle.messages.projects_list}}</a></li>
                  <li class="card-list-item"><a href="/dependencies">{{resourcebundle.messages.dep_analysis}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><em class="bi bi-search"></em> {{resourcebundle.messages.search_software}}</h5>
              <hr />
              <div class="card-text">
                <p>
                  {{resourcebundle.messages.search_in_all_projects}}
                </p>
                <ul class="card-list">
                  <li class="card-list-item"><a href="/code-search">{{resourcebundle.messages.code_search}}</a></li>
                  <li class="card-list-item"><a href="/filename-search">{{resourcebundle.messages.file_search}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><em class="bi bi-info-circle"></em> {{resourcebundle.messages.dev_releases}}</h5>
              <hr />
              <div class="card-text">
                <p>
                  {{resourcebundle.messages.view_los}}
                </p>
                <ul class="card-list">
                  <li class="card-list-item"><a href="/los">{{resourcebundle.messages.generate_los}}</a></li>
                  <li class="card-list-item"><a href="/delivery-check">{{resourcebundle.messages.generate_los_report}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


    <div *ngIf="isAdmin()" class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><em class="bi bi-gear"></em> {{resourcebundle.labels.settings}} </h5>
          <hr />
          <div class="card-text">
            <p>
              {{resourcebundle.messages.manage_users}}
            </p>
            <ul class="card-list">
              <li class="card-list-item"><a href="/user">{{resourcebundle.messages.edit_users_role}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

      </div>

</div>
