<div class="content" role="main">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Obiettivi di sviluppo</li>
      <li class="breadcrumb-item active" aria-current="page">Delivery Check</li>
    </ol>
  </nav>

  <form>
    <div class="form-group">
      <div class="row align-items-start custom-margin">
        <div class="col-12">
          <strong>Inserire il codice BIG di un obiettivo</strong>
          <input type="text" class="form-control" name="bigcode"
                 [(ngModel)]="bigcode"
                 [value]="bigcode"/>
        </div>

      </div>
    </div>
    <div class="custom-margin">
      <button class="btn btn-outline-primary table-buttons" style="margin-right: 10px" (click)="search()"
              type="button">Cerca
      </button>
      <button class="btn btn-outline-danger table-buttons" (click)="clear($event)" type="button">Azzera</button>
    </div>

  </form>

  <div class="alert alert-danger" role="alert" *ngIf="noResult">
    <b>Nessun risultato ottenuto</b>
  </div>
  <div class="losResult" *ngIf="deliveryCheckGenerated">


    <div class="mx-5 ">
      <h6 class="border-bottom larger pb-2 mb-0">Elenco rilasci obiettivo: <strong>{{bigcode}}</strong></h6>
      <div class="my-5 p-3 bg-body rounded shadow" *ngFor="let release of releases; let i = index">
        <div class="d-flex row text-muted pt-3">
          <p class="pb-3 mb-0 larger lh-sm">
            <a data-bs-toggle="collapse" href="#collapse-{{i}}" role="button"
               aria-expanded="false" (click)="setSelectedRelease(i)">
              <strong class="d-block text-gray-dark"><span>Merge Request di <b>{{release.mergeRequestType}}</b></span>
                <span style="float: right">{{release.date | slice:0:10}} {{release.date | slice:12:-1}}</span></strong>
            </a>
          </p>


          <div class="collapse" id="collapse-{{i}}">

            <div class="custom-card card-body custom-margin table-responsive">
              La richiesta di Merge è stata presentata da <strong>{{release.author}}</strong> e ha generato i seguenti url
              nexus:<br>
              <table class="table">
                <thead>
                <tr>
                  <th class="text-center">Url Nexus</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let url of release.nexusUrls">
                  <td>{{ url }}</td>
                </tr>
                </tbody>
              </table>

              <table class="table" id="data_table-{{i}}">
                <thead>
                <tr>
                  <th>Nome File</th>
                  <th>Repository</th>
                  <th>Sha1sum</th>
                  <th>Path macchina MEF</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let releaseItem of release.releaseItems">
                  <td>{{ releaseItem.filename }}</td>
                  <td>{{ releaseItem.repository }}</td>
                  <td>{{ releaseItem.sha1sum }}</td>
                  <td>{{ releaseItem.pathMef }}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="download">
              <a [routerLink]="" (click)="download($event, i)" type="button">Scarica il report</a>
            </div>
          </div>


        </div>
      </div>


    </div>

  </div>
</div>
