.error {
  color: red;
  margin-top: 20px;
  text-align: center;
}

.header-icon {
  color: #999;
  text-align: center;
  font-size: 40px;
}

.login-alert {
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
  
}
