<div class="content" role="main">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">{{resourcebundle.labels.home}}</a></li>
      <li class="breadcrumb-item">{{resourcebundle.labels.details}}</li>
      <li class="breadcrumb-item active" aria-current="page">Lista User</li>
    </ol>
  </nav>

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailModalLabel">Dettaglio Utente</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group container-fluid">
              <div class="row align-items-start">
                <div class="col-12">
                  <div class="mb-3">
                    <strong>{{resourcebundle.labels.username}}</strong>: {{ selectedUser.username }}
                  </div>
                  <hr/>
                </div>
              </div>
              <div class="row align-items-start">
                <div class="col-12">
                  <label for="role"><strong>{{resourcebundle.labels.role}}</strong></label>
                  <select class="form-select" name="role" (change)="changeModel($event)" id="role"
                          [(ngModel)]="selectedUser.role">
                    <option value="USER">{{resourcebundle.labels.user}}</option>
                    <option value="ADMIN">{{resourcebundle.labels.admin}}</option>
                  </select>
                </div>
              </div>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clear()">{{resourcebundle.labels.close}}
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  (click)="saveChange()">{{resourcebundle.labels.save}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <form #form="ngForm">
    <div class="table-responsive">
      <table class="table table-bordered table-sm align-middle" aria-label="Elenco Utenti" style="table-layout: auto">
        <caption style="display:none">Elenco Utenti</caption>
        <thead>
        <tr>
          <th scope="col"><span class="ms-2">{{resourcebundle.labels.username}}</span></th>
          <th scope="col"><span class="ms-2">{{resourcebundle.labels.role}}</span></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td class="col-5 "><span class="ms-2">{{ user.username }}</span></td>
          <td class="col-5"><span class="ms-2">{{ user.role }}</span></td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-primary table-buttons" data-bs-toggle="modal"
                    (click)="setSelectedUser(i)" data-bs-target="#editModal">
              <em class="bi bi-pencil-square"></em>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>

</div>
