<nav
  [ngClass]="getSelectedTheme() === 'dark' ? 'navbar navbar-expand-lg fixed-top navbar-dark bg-dark' : 'navbar navbar-expand-lg fixed-top navbar-light bg-light'"
  [hidden]="!isUserLoggedIn()">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <em class="bi bi-clipboard-data"></em>
      {{resourcebundle.labels.title}} <span class="v">v{{VERSION}}</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">{{resourcebundle.labels.home}}</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{resourcebundle.labels.dev_env}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="Repository List">
            <li><a class="dropdown-item" href="/repositories">{{resourcebundle.labels.repo_list}}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ gitlabUrl }}">{{resourcebundle.labels.gitlab}}</a></li>
            <li><a class="dropdown-item" href="{{ nexusUrl }}">{{resourcebundle.labels.nexus}}</a></li>
            <li><a class="dropdown-item" href="{{ sonarUrl }}">{{resourcebundle.labels.sonarqube}}</a></li>
            <li><a class="dropdown-item" href="{{ jenkinsUrl }}">{{resourcebundle.labels.jenkins}}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{resourcebundle.labels.java_projects}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="Java Projects">
            <li><a class="dropdown-item" href="/projects-info">{{resourcebundle.labels.projects_list}}</a></li>
            <li><a class="dropdown-item" href="/dependencies">{{resourcebundle.labels.dep_analysis}}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{resourcebundle.labels.search_codebase}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="Code Search">
            <li><a class="dropdown-item" href="/code-search">{{resourcebundle.labels.code_search}}</a></li>
            <li><a class="dropdown-item" href="/filename-search">{{resourcebundle.labels.file_search}}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{resourcebundle.labels.dev_releases}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="Software Releases">
            <li><a class="dropdown-item" href="/los">{{resourcebundle.labels.generate_los}}</a></li>
            <li><a class="dropdown-item" href="/delivery-check">{{resourcebundle.labels.generate_los_report}}</a></li>
          </ul>
        </li>
        <li *ngIf="isAdmin()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{resourcebundle.labels.settings}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="Settings">
            <li><a class="dropdown-item" href="/user">{{resourcebundle.labels.edit_users_role}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse " id="navbarSupportedContentProfile">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <em class="bi bi-person-circle"></em> {{ getUsername() }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Profile Information">
            <li>
              <a class="dropdown-item" aria-current="page" (click)="showSettingsDialog()"><em
                class="bi bi-gear"></em> {{resourcebundle.labels.settings}}</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" aria-current="page" href="#" (click)="logout()"><em
                class="bi bi-box-arrow-left"></em> {{resourcebundle.labels.logout}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>

  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display': settingsDialogVisibility}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{resourcebundle.labels.settings}}</h4>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <strong>{{resourcebundle.labels.role}}</strong>: {{ getRole() }}
          </div>
          <hr/>
          <div class="mb-3">
            <label for="themeSelector" class="form-label"><strong>{{resourcebundle.labels.theme}}</strong></label>
            <select id="themeSelector" class="form-select" aria-label="Theme" (change)="selectTheme($event)">
              <option *ngFor="let theme of themes" [value]="theme.value" [selected]="theme.value === selectedTheme">
                {{ theme.name }}
              </option>
            </select>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
                  (click)="hideSettingsDialog()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
